<p>
    <mat-toolbar color="primary">


        <span>Order Application</span>

        <!-- Espaciador para empujar el contenido hacia la derecha -->
        <span class="example-spacer"></span>
        <!-- Botón para "Ver mis pedidos" -->
        <button mat-button (click)="viewOrders()" class="example-button">View Orders</button>

        <div class="demo-section">
            <mat-icon matBadge="{{ totalProducts }}" matBadgeColor="warn" (click)="toggleCartDetails()" style="cursor: pointer;">
                shopping_cart
            </mat-icon>

            <div *ngIf="cartVisible" class="cart-details">
                <h3>Products details</h3>
                <div *ngFor="let item of products">
                    <p>{{ item.product.name }} - {{ item.quantityRequest }} x {{ item.product.price | currency }}</p>
                </div>
                <h4>Total: {{ getTotalAmount() | currency }}</h4>
                <button mat-raised-button color="primary" (click)="completeOrder()">Complete Order</button>
                <button mat-raised-button color="warn" (click)="clearOrder()">Clear cart</button>

            </div>
        </div>





    </mat-toolbar>
</p>
